<a href="https://colab.research.google.com/github/ThanikPimpiban/data_viz_2022/blob/main/FinalExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Load data

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
data1= pd.read_csv('/content/drive/MyDrive/ovrdt data/alldb.csv')  ## สร้างตัวแปร รับค่าข้อมูลที่อยู่ใน Google drive
data1 ## แสดงข้อมูล

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

In [4]:
data2= pd.read_excel('/content/drive/MyDrive/ovrdt data/hospital_list.xlsx')  ## สร้างตัวแปร รับค่าข้อมูลที่อยู่ใน Google drive
data2 ## แสดงข้อมูล

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [5]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40035 entries, 0 to 40034
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    40035 non-null  int64
 1   user          39273 non-null  object
 2   RowKey        40034 non-null  object
 3   care          72 non-null     object
 4   date          39481 non-null  object
 5   ov            39671 non-null  object
 6   phone         40032 non-null  object
 7   site          39936 non-null  object
 8   time          39478 non-null  object
 9   urine         39782 non-null  object
 10  pid           145 non-null    object
 11  PartitionKey  39850 non-null  object
 12  title         39591 non-null  object
 13  age           39493 non-null  object
dtypes: int64(1), object(13)
memory usage: 4.3+ MB

In [10]:
data1['date'] = pd.to_datetime(data1['date'],format='%Y/%m/%d')

In [52]:
data1['time'] = pd.to_datetime(data1['time'],format='%HH/%mm/%SS')

ValueError: ignored

In [28]:
data1['phone']=data1['phone'].astype('string')

In [53]:
data1['urine']=data1['urine'].astype('string')

In [131]:

TF1=list() ## กำหนด TF ให้เป็น list ว่าง เพื่อใช้เติมค่า loop
for each_row in data1.iterrows(): ## loop each_row ใน data1
    if len(str(each_row[1]['user']))== 5 : #สร้างเงื่อนไข user ที่มีจำนวนตัวอักษรเท่ากับ 5
        if str(each_row[1]['user']) <= '99999' :
            TF1.append(True) ## หากเงื่อนไขถูกต้องให้เพิ่มเข้าไปใน TF
        elif str(each_row[1]['user']) >= '99999' :
            TF1.append(False)
    else:
        TF1.append(False) ## หากเงื่อนไขไม่ถูกต้อง ไม่ให้เพิ่มเข้าไปใน TF

data1[TF1] ## แสดงผล

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,<NA>,NaN,NaN,data is not completed,data is not completed
5,5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,NaN,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,<NA>,NaN,NaN,data is not completed,data is not completed
7,7,04857,73E96EE6-7660-4204-9914-92112603C514,NaN,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,<NA>,NaN,NaN,data is not completed,data is not completed
11,11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,NaN,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,<NA>,NaN,NaN,data is not completed,data is not completed
12,12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,NaN,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,<NA>,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),NaN,99999,NaN,NaN
40017,40017,12345,zgvicawbkg.png,NaN,NaT,2,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),NaN,xxxxx,NaN,NaN

In [132]:
df1 =data1[TF1]

In [140]:
df1_clean = df1[df1['user']!= '6724-']

In [141]:
df1_clean['user'].astype('int64')

1         4857
5         8777
7         4857
11        8777
12       11111
         ...
39813    99999
39814    99999
39815    99999
39816    99999
40017    12345
Name: user, Length: 38509, dtype: int64

In [135]:
set(df1['user'])

{'76475',
 '73557',
 '50577',
 '17184',
 '56326',
 '00404',
 '71152',
 '76088',
 '40865',
 '00297',
 '14667',
 '33171',
 '10724',
 '05182',
 '19250',
 '28627',
 '68081',
 '63485',
 '86545',
 '73225',
 '85934',
 '14106',
 '00203',
 '16904',
 '00322',
 '00020',
 '00138',
 '01009',
 '00341',
 '16604',
 '58271',
 '73204',
 '52481',
 '03263',
 '13088',
 '05135',
 '00125',
 '71872',
 '10348',
 '84495',
 '20435',
 '00141',
 '00118',
 '27658',
 '45787',
 '09259',
 '46341',
 '10105',
 '66801',
 '00030',
 '00266',
 '31755',
 '14255',
 '66261',
 '86133',
 '54100',
 '91167',
 '64211',
 '00251',
 '44845',
 '00053',
 '00578',
 '25829',
 '16193',
 '00113',
 '53045',
 '34322',
 '30311',
 '55873',
 '01850',
 '40886',
 '00124',
 '96349',
 '99884',
 '96292',
 '92747',
 '92648',
 '87802',
 '84375',
 '79620',
 '48710',
 '38500',
 '36481',
 '55236',
 '51403',
 '50580',
 '00285',
 '45531',
 '00216',
 '23675',
 '00399',
 '49322',
 '97255',
 '02594',
 '04857',
 '25071',
 '32914',
 '67352',
 '99376',
 '59266',
 '69566',
 '05219',
 '77743',
 '63606',
 '12044',
 '02604',
 '87394',
 '37408',
 '80175',
 '28186',
 '00291',
 '40035',
 '32816',
 '63068',
 '49741',
 '00052',
 '00049',
 '53333',
 '86758',
 '04461',
 '74523',
 '37231',
 '93509',
 '83771',
 '25837',
 '93726',
 '19675',
 '00011',
 '65664',
 '00278',
 '00148',
 '37186',
 '00131',
 '19737',
 '04854',
 '85753',
 '83937',
 '00394',
 '36390',
 '61746',
 '00309',
 '55659',
 '00345',
 '00129',
 '92042',
 '00223',
 '77994',
 '59128',
 '53579',
 '62261',
 '01461',
 '89251',
 '47623',
 '00046',
 '09269',
 '49308',
 '03381',
 '54544',
 '23811',
 '59269',
 '54538',
 '97461',
 '29476',
 '63284',
 '04281',
 '00051',
 '12561',
 '98703',
 '00353',
 '16754',
 '94758',
 '93527',
 '28348',
 '87738',
 '22824',
 '82951',
 '40828',
 '73158',
 '63865',
 '27096',
 '00143',
 '17132',
 '49596',
 '06277',
 '28743',
 '37915',
 '37228',
 '21860',
 '69681',
 '48646',
 '02897',
 '09902',
 '13312',
 '65675',
 '53151',
 '00139',
 '00037',
 '84935',
 '00074',
 '44805',
 '63767',
 '92220',
 '86113',
 '66473',
 '47061',
 '94988',
 '23186',
 '14505',
 '54614',
 '64810',
 '16321',
 '16971',
 '00167',
 '24986',
 '24258',
 '44018',
 '38522',
 '47593',
 '38547',
 '03736',
 '77811',
 '90154',
 '71998',
 '03217',
 '53980',
 '20395',
 '92241',
 '00281',
 '66381',
 '33081',
 '77645',
 '90817',
 '47157',
 '10194',
 '58718',
 '01467',
 '95104',
 '80364',
 '09617',
 '73251',
 '44888',
 '32591',
 '46313',
 '73000',
 '83659',
 '90770',
 '34801',
 '02102',
 '86721',
 '67409',
 '11611',
 '68317',
 '99245',
 '22478',
 '00042',
 '71378',
 '10046',
 '75579',
 '74345',
 '32999',
 '07331',
 '51474',
 '00116',
 '47567',
 '50951',
 '43068',
 '37018',
 '63323',
 '05228',
 '31982',
 '11165',
 '37728',
 '95127',
 '26604',
 '17560',
 '00287',
 '08818',
 '36593',
 '65953',
 '83777',
 '12723',
 '63471',
 '25221',
 '38614',
 '78901',
 '70973',
 '00156',
 '50291',
 '88023',
 '03649',
 '01431',
 '02230',
 '55299',
 '16174',
 '36001',
 '00172',
 '76819',
 '47950',
 '55300',
 '71112',
 '06271',
 '39959',
 '09582',
 '45485',
 '50837',
 '00198',
 '16284',
 '89195',
 '54679',
 '96417',
 '96730',
 '00123',
 '25721',
 '26531',
 '84409',
 '00040',
 '58668',
 '05232',
 '48962',
 '39524',
 '51301',
 '01882',
 '74861',
 '00147',
 '00170',
 '39079',
 '00292',
 '75838',
 '00158',
 '01942',
 '00006',
 '99991',
 '00230',
 '39448',
 '19211',
 '62517',
 '45641',
 '41026',
 '28381',
 '28062',
 '02728',
 '80253',
 '00162',
 '00029',
 '32451',
 '00219',
 '29441',
 '92120',
 '51568',
 '45876',
 '21751',
 '05113',
 '42465',
 '25593',
 '29391',
 '14037',
 '46627',
 '98156',
 '05063',
 '04325',
 '28992',
 '02784',
 '23058',
 '25403',
 '25943',
 '32891',
 '09226',
 '74069',
 '22722',
 '64520',
 '87536',
 '49103',
 '56764',
 '45846',
 '83662',
 '64817',
 '52912',
 '43657',
 '00352',
 '63799',
 '89801',
 '46767',
 '56821',
 '63200',
 '04221',
 '00164',
 '15801',
 '94392',
 '29309',
 '96081',
 '87468',
 '61591',
 '21045',
 '09006',
 '46897',
 '65775',
 '00276',
 '19265',
 '20452',
 '03338',
 '08370',
 '27589',
 '01312',
 '02263',
 '65678',
 '02889',
 '00166',
 '64671',
 '77254',
 '22542',
 '11742',
 '00017',
 '31582',
 '71327',
 '50471',
 '09343',
 '40553',
 '18892',
 '60909',
 '06079',
 '58870',
 '19202',
 '00273',
 '63852',
 '26082',
 '30041',
 '40520',
 '94538',
 '42055',
 '63477',
 '17769',
 '86483',
 '27529',
 '52350',
 '08236',
 '47602',
 '29417',
 '24491',
 '44199',
 '49241',
 '10518',
 '31869',
 '81621',
 '46951',
 '00003',
 '25083',
 '00034',
 '90609',
 '00200',
 '38778',
 '03953',
 '74891',
 '46566',
 '25199',
 '92948',
 '10264',
 '45563',
 '60250',
 '31196',
 '52724',
 '01730',
 '05849',
 '97860',
 '94279',
 '77782',
 '47429',
 '61218',
 '27604',
 '23554',
 '54192',
 '34343',
 '15737',
 '02878',
 '03308',
 '67850',
 '66082',
 '81095',
 '31428',
 '20951',
 '02759',
 '02962',
 '61095',
 '17277',
 '00224',
 '75519',
 '76459',
 '00109',
 '00185',
 '85702',
 '00090',
 '00253',
 '77670',
 '04431',
 '25659',
 '81529',
 '11027',
 '26859',
 '65075',
 '05242',
 '59423',
 '60887',
 '83943',
 '46732',
 '98530',
 '00270',
 '68805',
 '05663',
 '00045',
 '69091',
 '82277',
 '83900',
 '48042',
 '00319',
 '52227',
 '67961',
 '00781',
 '28399',
 '32077',
 '00215',
 '52131',
 '00205',
 '41951',
 '31551',
 '20215',
 '61419',
 '41340',
 '00320',
 '04347',
 '20380',
 '26469',
 '19322',
 '00206',
 '02693',
 '62061',
 '26841',
 '00015',
 '51795',
 '05019',
 '88351',
 '96760',
 '94881',
 '74369',
 '74747',
 '00144',
 '80374',
 '48908',
 '46622',
 '17415',
 '66205',
 '65254',
 '16970',
 '01008',
 '19762',
 '31534',
 '46415',
 '67864',
 '82954',
 '98908',
 '96061',
 '00083',
 '15229',
 '17974',
 '49659',
 '05151',
 '56845',
 '59721',
 '87181',
 '50373',
 '29094',
 '72186',
 '13361',
 '83303',
 '02087',
 '00271',
 '59144',
 '22421',
 '76331',
 '46783',
 '33100',
 '00748',
 '77862',
 '76642',
 '52066',
 '72988',
 '22456',
 '63039',
 '19920',
 '00301',
 '00055',
 '26442',
 '10673',
 '51653',
 '17536',
 '34096',
 '22692',
 '46970',
 '17982',
 '49782',
 '49863',
 '00221',
 '92691',
 '00021',
 '02217',
 '11387',
 '03080',
 '74367',
 '64385',
 '54281',
 '16428',
 '83449',
 '00036',
 '00293',
 '00019',
 '00071',
 '12022',
 '47844',
 '32948',
 '66780',
 '46520',
 '37914',
 '95935',
 '96699',
 '30067',
 '22354',
 '00966',
 '58845',
 '69789',
 '28551',
 '32200',
 '49215',
 '74103',
 '41061',
 '16162',
 '62334',
 '03523',
 '37151',
 '27678',
 '36358',
 '03431',
 '47122',
 '90872',
 '52921',
 '52013',
 '43868',
 '00157',
 '65632',
 '36692',
 '72938',
 '51060',
 '55430',
 '30016',
 '67280',
 '00279',
 '01594',
 '11198',
 '01636',
 '84187',
 '76386',
 '07427',
 '18025',
 '55692',
 '25683',
 '00306',
 '05047',
 '68759',
 '19180',
 '00190',
 '00317',
 '80463',
 '53616',
 '18524',
 '54427',
 '84063',
 '11816',
 '31619',
 '75126',
 '10653',
 '28731',
 '37216',
 '34829',
 '26462',
 '14884',
 '62616',
 '98488',
 '00318',
 '00128',
 '00192',
 '43791',
 '44502',
 '19800',
 '97308',
 '00165',
 '17055',
 '00941',
 '31577',
 '18873',
 '19527',
 '31208',
 '18318',
 '47354',
 '17777',
 '96786',
 '00024',
 '19130',
 '29999',
 '55354',
 '29760',
 '85094',
 '78486',
 '71791',
 '69431',
 '73038',
 '75911',
 '02663',
 '12015',
 '95978',
 '38727',
 '02579',
 '00328',
 '31792',
 '05961',
 '01762',
 '83377',
 '45924',
 '18954',
 '63753',
 '86774',
 '31994',
 '37826',
 '26440',
 '82685',
 '00357',
 '02052',
 '02913',
 '29875',
 '14360',
 '32082',
 '25128',
 '98080',
 '47858',
 '29514',
 '93671',
 '37140',
 '08971',
 '17790',
 '19578',
 '70409',
 '00400',
 '98551',
 '86050',
 '90888',
 '00112',
 '74414',
 '18849',
 '01068',
 '59326',
 '49901',
 '50284',
 '21378',
 '00272',
 '00246',
 '59051',
 '87797',
 '00194',
 '00033',
 '54923',
 '46960',
 '53330',
 '05507',
 '94406',
 '00268',
 '50004',
 '04402',
 '78054',
 '47135',
 '66771',
 '26773',
 '67778',
 '80880',
 '80979',
 '19559',
 '00252',
 '73419',
 '07556',
 '29025',
 '21177',
 '72364',
 '94601',
 '05038',
 '10460',
 '77384',
 '97057',
 '10375',
 '73876',
 '66191',
 '96431',
 '55865',
 '95631',
 '42228',
 '91402',
 '00565',
 '90257',
 '69037',
 '65390',
 '14891',
 '28961',
 '34705',
 '52922',
 '05211',
 '70610',
 '60688',
 '17842',
 '76803',
 '89493',
 '16820',
 '00010',
 '06283',
 '76339',
 '89290',
 '02471',
 '16675',
 '26776',
 '26511',
 '21688',
 '00299',
 '12786',
 '27503',
 '98474',
 '54214',
 '78231',
 '31011',
 '31062',
 '00177',
 '25478',
 '51689',
 '02862',
 '15971',
 '11569',
 '00283',
 '92893',
 '32171',
 '99734',
 '02990',
 '00321',
 '40059',
 '48493',
 '12839',
 '70196',
 '94414',
 '00079',
 '94087',
 '98126',
 '60147',
 '32625',
 '32831',
 '37607',
 '48255',
 '71503',
 '29379',
 '45825',
 '95821',
 '98519',
 '70370',
 '17916',
 '16247',
 '94135',
 '55806',
 '00324',
 '78133',
 '85504',
 '16214',
 '65854',
 '71805',
 '16725',
 '00209',
 '05272',
 '64081',
 '13978',
 '59361',
 '04255',
 '99771',
 '12413',
 '88708',
 '38121',
 '99250',
 '16372',
 '48298',
 '96481',
 '20847',
 '66062',
 '28291',
 '78960',
 '00298',
 '65388',
 '00076',
 '77576',
 '11864',
 '53943',
 '79493',
 '63429',
 '70671',
 '00211',
 '96099',
 '38305',
 '69428',
 '20606',
 '10695',
 '80847',
 '12966',
 '12378',
 '09820',
 '39539',
 '81057',
 '03617',
 '16783',
 '75347',
 '61044',
 '34169',
 '61265',
 '21955',
 '89609',
 '24563',
 '23214',
 '46775',
 '31229',
 '43257',
 '81065',
 '94558',
 '24994',
 '46481',
 '57066',
 '51310',
 '55365',
 '63018',
 '93020',
 '05082',
 '44902',
 '99992',
 '12023',
 '52678',
 '26540',
 '28402',
 '22377',
 '14291',
 '46948',
 '14387',
 '49880',
 '79590',
 '43834',
 '63564',
 '84479',
 '65733',
 '63274',
 '23630',
 '15102',
 '32468',
 '00313',
 '14088',
 '26651',
 '35139',
 '75835',
 '76486',
 '94019',
 '00146',
 '67972',
 '95609',
 '33103',
 '77978',
 '00208',
 '00007',
 '81570',
 '00288',
 '36385',
 '63381',
 '33791',
 '63306',
 '29271',
 '62241',
 '00265',
 '05391',
 '63098',
 '14771',
 '29159',
 '05974',
 '19575',
 '86981',
 '81197',
 '03359',
 '79834',
 '41921',
 '23885',
 '03831',
 '20061',
 '85989',
 '72486',
 '89381',
 '50624',
 '00566',
 '83934',
 '62443',
 ...}

In [111]:
data_clean = data1[TF1][data1[TF1]['user']!='ttest']

In [112]:
data_clean2 = data_clean[data_clean['user']!='ttohn']

In [113]:

TF2=list() ## กำหนด TF ให้เป็น list ว่าง เพื่อใช้เติมค่า loop
for each_row in data_clean2.iterrows(): ## loop each_row ใน data1
    if len(str(each_row[1]['site']))== 5 : #สร้างเงื่อนไข user ที่มีจำนวนตัวอักษรเท่ากับ 5
        TF2.append(True) ## หากเงื่อนไขถูกต้องให้เพิ่มเข้าไปใน TF
    else:
        TF2.append(False) ## หากเงื่อนไขไม่ถูกต้อง ไม่ให้เพิ่มเข้าไปใน TF

data_clean2[TF2] ## แสดงผล

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,<NA>,NaN,NaN,data is not completed,data is not completed
5,5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,NaN,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,<NA>,NaN,NaN,data is not completed,data is not completed
7,7,04857,73E96EE6-7660-4204-9914-92112603C514,NaN,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,<NA>,NaN,NaN,data is not completed,data is not completed
11,11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,NaN,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,<NA>,NaN,NaN,data is not completed,data is not completed
12,12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,NaN,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,<NA>,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),NaN,99999,NaN,NaN
40017,40017,12345,zgvicawbkg.png,NaN,NaT,2,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),NaN,xxxxx,NaN,NaN

In [114]:
data_clean3 =data_clean2[TF2]

In [122]:

TF3=list() ## กำหนด TF ให้เป็น list ว่าง เพื่อใช้เติมค่า loop
for each_row in df1.iterrows(): ## loop each_row ใน data1
    if len(str(each_row[1]['user']))== 5 : #สร้างเงื่อนไข user ที่มีจำนวนตัวอักษรเท่ากับ 5
        if int(each_row[1]['user']) <= 99999 :
            TF3.append(True) ## หากเงื่อนไขถูกต้องให้เพิ่มเข้าไปใน TF
        else:
            TF3.append(False) ## หากเงื่อนไขไม่ถูกต้อง ไม่ให้เพิ่มเข้าไปใน TF

df1[TF3] ## แสดงผล

SyntaxError: ignored

ValueError: ignored

# Data processing