<a href="https://colab.research.google.com/github/ThanikPimpiban/data_viz_2022/blob/main/Pandas101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

.csv = Comma Separated Values

data.go.th

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os

In [4]:
path = '/content/drive/My Drive/dataviz_2021_data/dataviz_2021_data'

In [5]:
covid_file_path = os.path.join(path,'pm-20-jan-2021.csv') 
print(covid_file_path)

/content/drive/My Drive/dataviz_2021_data/dataviz_2021_data/pm-20-jan-2021.csv

In [6]:
a = path + '/pm-18-jan-2021.csv' 
print(a)

/content/drive/My Drive/dataviz_2021_data/dataviz_2021_data/pm-18-jan-2021.csv

load data to memory

In [7]:
data_covid = pd.read_csv(covid_file_path)
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12648  12649  ...                             State Quarantine
12649  12650  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650  12651  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651  12652  ...                                Cluster ระยอง
12652  12653  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12653 rows x 10 columns]

In [8]:
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [9]:
data_covid.head(20)

    No.  ...                                               risk
0     1  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
1     2  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
2     3  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
3     4  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
4     5  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
5     6  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
6     7  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
7     8  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
8     9  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
9    10  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
10   11  ...        สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11   12  ...        สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12   13  ...        สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
13   14  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
14   15  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
15   16  ...  อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...
16   17  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
17   18  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
18   19  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
19   20  ...                      คนไทยเดินทางกลับจากต่างประเทศ

[20 rows x 10 columns]

In [10]:
data_covid.tail()

         No.  ...                                         risk
12648  12649  ...                             State Quarantine
12649  12650  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650  12651  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651  12652  ...                                Cluster ระยอง
12652  12653  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[5 rows x 10 columns]

In [11]:
data_covid.shape

(12653, 10)

**ชี้ค่าในตาราง**

basic

In [12]:
data_covid['province_of_onset']

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12648           ชลบุรี
12649            ระยอง
12650            ระยอง
12651            ระยอง
12652              ตาก
Name: province_of_onset, Length: 12653, dtype: object

In [13]:
data_covid['risk'][12649]

'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้'

.iloc

In [14]:
data_covid.iloc[4,7]

'กรุงเทพมหานคร'

Table slicing

ตัดมาเฉพาะ column ที่ต้องการ

In [15]:
smaller_table = data_covid[['province_of_onset','announce_date','risk']]
smaller_table

      province_of_onset  ...                                         risk
0         กรุงเทพมหานคร  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1         กรุงเทพมหานคร  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2                นครปฐม  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3         กรุงเทพมหานคร  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4         กรุงเทพมหานคร  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...                 ...  ...                                          ...
12648            ชลบุรี  ...                             State Quarantine
12649             ระยอง  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650             ระยอง  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651             ระยอง  ...                                Cluster ระยอง
12652               ตาก  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12653 rows x 3 columns]

ตัดเฉพาะ rows ที่ต้องการ

แบบง่าย แต่ใช้การอะไรไม่ค่อยจะได้ (มองเป็น array แล้วตัดแบบ array)

In [16]:
data_covid.iloc[1:5,:]

   No. announce_date  ... district_of_onset                              risk
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

แบบ advanced แต่ใช้ประโยชน์ได้เยอะกว่า (ตัดแบบใช้ logic query)

In [17]:
data_covid['province_of_onset']

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12648           ชลบุรี
12649            ระยอง
12650            ระยอง
12651            ระยอง
12652              ตาก
Name: province_of_onset, Length: 12653, dtype: object

In [18]:
data_covid['province_of_onset']=='ขอนแก่น'

0        False
1        False
2        False
3        False
4        False
         ...
12648    False
12649    False
12650    False
12651    False
12652    False
Name: province_of_onset, Length: 12653, dtype: bool

In [19]:
data_covid[data_covid['province_of_onset']=='ขอนแก่น']

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[14 rows x 10 columns]

In [20]:
data_covid[data_covid['age']>=70]

         No.  ...                                               risk
1          2  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
7          8  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
24        25  ...  อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...
82        83  ...                                            สนามมวย
...      ...  ...                                                ...
11694  11695  ...      ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
11700  11701  ...        สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11730  11731  ...                                  Cluster สมุทรสาคร
11741  11742  ...                               อยู่ระหว่างการสอบสวน
12102  12103  ...                                  Cluster สมุทรสาคร

[245 rows x 10 columns]

การชี้ค่าในตารางด้วย data_covid[x] ค่า x สามารถมีค่าที่ใส่เข้าไปได้ 2 แบบ

* ชื่อ column
* ใส่ rows ที่ต้องการ (ใส่ list ที่มีขนาดเท่ากับจำนวนแถว แล้วบอกว่าเอา แถวไหนบ้างโดยใช้ logical expression (True/False))

In [21]:
eight_rows_covid = data_covid.iloc[:8,3:] # ตารางตัวอย่าง
eight_rows_covid

    sex   age  ... district_of_onset                              risk
0  หญิง  61.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1  หญิง  74.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2  หญิง  73.0  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3   ชาย  68.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4  หญิง  66.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5  หญิง  33.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6  หญิง  57.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
7  หญิง  73.0  ...            หัวหิน  คนต่างชาติเดินทางมาจากต่างประเทศ

[8 rows x 7 columns]

In [22]:
eight_rows_covid[[True,False,True,True,False,True,False,False]]

    sex   age  ... district_of_onset                              risk
0  หญิง  61.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2  หญิง  73.0  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3   ชาย  68.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5  หญิง  33.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 7 columns]

In [23]:
eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร' #สร้าง list ของ logical expression

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: province_of_onset, dtype: bool

In [24]:
eight_rows_covid[eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร']

    sex   age  ... district_of_onset                              risk
0  หญิง  61.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1  หญิง  74.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3   ชาย  68.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4  หญิง  66.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5  หญิง  33.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6  หญิง  57.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[6 rows x 7 columns]

In [25]:
eight_rows_covid['district_of_onset'] == 'เมือง'

0    False
1    False
2     True
3    False
4    False
5    False
6    False
7    False
Name: district_of_onset, dtype: bool

In [26]:
import numpy as np

 .isnull() ใช้ตรวจสอบว่าเป็น NaN หรือไม่

In [27]:
eight_rows_covid['district_of_onset'].isnull()

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: district_of_onset, dtype: bool

In [28]:
sum(eight_rows_covid['district_of_onset'].isnull())

6

Quiz (ให้ใช้เฉพาะที่อาจารย์สอนไปแล้วในวิชานี้)

1.คำนวณ อายุเฉลี่ย ของผู้ชาย ในข้อมูลทั้งหมด

2.คำนวณ อายุเฉลี่ย ของผู้ชาย ในจังหวัดขอนแก่น

3.หาจำนวนผู้ป่วยที่เป็นคน ที่ไม่ใช่คนไทย

In [29]:
this_data = data_covid[['sex','age','province_of_onset']]  ##เลือก column ที่ต้องการใช้ได้แก่ sex,age และ province_of_onset

In [30]:
this_data ## แสดงข้อมูลที่เลือก

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12648  หญิง  44.0            ชลบุรี
12649  หญิง  52.0             ระยอง
12650  หญิง  23.0             ระยอง
12651  หญิง  29.0             ระยอง
12652  หญิง  22.0               ตาก

[12653 rows x 3 columns]

1.คำนวณ อายุเฉลี่ย ของผู้ชาย ในข้อมูลทั้งหมด

In [31]:
male = this_data[this_data['sex']=='ชาย']  ## กำหนด male ให้ใช้ข้อมูลในตาราง this_data ที่มีเงื่อนไขว่า sex ต้องเป็น ชาย เท่านั้น
male ## แสดงตาราง male

       sex   age province_of_onset
3      ชาย  68.0     กรุงเทพมหานคร
8      ชาย  63.0     กรุงเทพมหานคร
10     ชาย  33.0     กรุงเทพมหานคร
11     ชาย  61.0     กรุงเทพมหานคร
12     ชาย   6.0     กรุงเทพมหานคร
...    ...   ...               ...
12640  ชาย  66.0   พระนครศรีอยุธยา
12641  ชาย  29.0          ปทุมธานี
12643  ชาย  39.0              สตูล
12646  ชาย  18.0       สมุทรปราการ
12647  ชาย  42.0     กรุงเทพมหานคร

[4819 rows x 3 columns]

In [32]:
male['age'] ## เลือกเฉพาะ column  'age' ในตาราง male

3        68.0
8        63.0
10       33.0
11       61.0
12        6.0
         ...
12640    66.0
12641    29.0
12643    39.0
12646    18.0
12647    42.0
Name: age, Length: 4819, dtype: float64

In [33]:
sum = 0   ##กำหนด sum เป็น 0 เพื่อใช้รวมผลลัพธ์ใน loop
N = 0  ##กำหนด N เป็น 0 เพื่อใช้นับจำนวนผลลัพธ์ใน loop
for a in male['age']:  ## loop ในตาราง male ที่ column 'age'
    
    if a > 0:  #ถ้าตาราง male ที่ column 'age' มากกว่า 0 ให้ :
        sum += a  #ให้ a บวกเพิ่มเข้าไปใน sum
        N += 1 #ให้ N บวกเพิ่มขึ้น 1 
        mean = sum/N #หาค่าเฉลี่ยด้วย sum หาร N

print(f'อายุเฉลี่ย ของ ผู้ป่วยชาย {mean}')  ##แสดงผล

อายุเฉลี่ย ของ ผู้ป่วยชาย 39.46076940331987

2.คำนวณ อายุเฉลี่ย ของผู้ชาย ในจังหวัดขอนแก่น

In [34]:
male_KK = male[male['province_of_onset']=='ขอนแก่น']  ##กำหนดตัวแปร male_KK ให้เลือกตาราง male ที่ column province_of_onset เป็น ขอนแก่น เท่านั้น

sum = 0  ##กำหนด sum เป็น 0 เพื่อใช้รวมผลลัพธ์ใน loop
N = 0 ##กำหนด N เป็น 0 เพื่อใช้นับจำนวนผลลัพธ์ใน loop
for a in male_KK['age']: ## loop ในตาราง male_KK ที่ column 'age'
    
    if a > 0: #ถ้าตาราง male ที่ column 'age' มากกว่า 0 ให้ :
        sum += a #ให้ a บวกเพิ่มเข้าไปใน sum
        N += 1 #ให้ N บวกเพิ่มขึ้น 1
        mean = sum/N #หาค่าเฉลี่ยด้วย sum หาร N

print(f'อายุเฉลี่ย ของ ผู้ป่วยชาย ในจังหวัดขอนแก่น {mean}') ##แสดงผล

อายุเฉลี่ย ของ ผู้ป่วยชาย ในจังหวัดขอนแก่น 26.571428571428573

3.หาจำนวนผู้ป่วยที่เป็นคน ที่ไม่ใช่คนไทย

In [35]:
data_covid  ###แสดงตาราง data_covid เพื่อดูชื่อ column ของ ตาราง data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12648  12649  ...                             State Quarantine
12649  12650  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650  12651  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651  12652  ...                                Cluster ระยอง
12652  12653  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12653 rows x 10 columns]

In [78]:
Ex3 = data_covid[data_covid['nationality']!='Thailand'] ##กำหนด Ex3 ให้เลือกข้อมูลในตาราง data_covid ที่ column nationality ไม่เป็น Thailand

N = 0 ##กำหนด N เป็น 0 เพื่อใช้นับจำนวนผลลัพธ์ใน loop
for a in Ex3['No.']: ## loop ในตาราง Ex3 ที่ column 'No.'
    
    if a > 0: #ถ้าตาราง Ex3 ที่ column 'No' มากกว่า 0 ให้ :
        N += 1 #ให้ N บวกเพิ่มขึ้น 1
print(f'จำนวนผู้ป่วยที่เป็นคน ที่ไม่ใช่คนไทย {N} คน') ### แสดงข้อมูล

จำนวนผู้ป่วยที่เป็นคน ที่ไม่ใช่คนไทย 5340 คน

In [81]:
Ex3.shape  ##เช็คด้วย ขนาดข้อมูลของ ตาราง Ex3

(5340, 10)

เหตุผลที่ไม่ใช้ column['age']  เพราะพบว่า column['age'] มี missing

In [119]:
data_covid.info()   #### เช็คข้อมูลเบื้องต้นของ data_covid  พบว่า sex มีจำนวน 8881 ที่เป็น Non-Null จาก จำนวนข้อมูลทั้งหมด 12653

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12653 entries, 0 to 12652
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   No.                    12653 non-null  int64
 1   announce_date          12653 non-null  object
 2   notification_date      9858 non-null   object
 3   sex                    10151 non-null  object
 4   age                    8881 non-null   float64
 5   nationality            11442 non-null  object
 6   province_of_isolation  12638 non-null  object
 7   province_of_onset      10662 non-null  object
 8   district_of_onset      9269 non-null   object
 9   risk                   12303 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 988.6+ KB

In [128]:
### ลองใช้ loop ของ column ['age']

Ex3_2 = data_covid[data_covid['nationality']!='Thailand']

N = 0
for a in Ex3_2['age']:
    if a > 0 :
        N += 1 
print(f'จำนวนผู้ป่วยที่เป็นคน ที่ไม่ใช่คนไทย {N} คน')

จำนวนผู้ป่วยที่เป็นคน ที่ไม่ใช่คนไทย 2038 คน