<a href="https://colab.research.google.com/github/ThanikPimpiban/data_viz_2022/blob/main/Pandas102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os

In [4]:
path = '/content/drive/My Drive/dataviz_2021_data/dataviz_2021_data'

In [5]:
covid_file_path = os.path.join(path,'pm-20-jan-2021.csv') 
print(covid_file_path)

/content/drive/My Drive/dataviz_2021_data/dataviz_2021_data/pm-20-jan-2021.csv

In [6]:
a = path + '/pm-18-jan-2021.csv' 
print(a)

/content/drive/My Drive/dataviz_2021_data/dataviz_2021_data/pm-18-jan-2021.csv

In [7]:
data_covid = pd.read_csv(covid_file_path)
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12648  12649  ...                             State Quarantine
12649  12650  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650  12651  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651  12652  ...                                Cluster ระยอง
12652  12653  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12653 rows x 10 columns]

# ต่อตาราง

* ต่อในแนวแกน X (เพิ่มจำนวนข้อมูล)
* ต่อในแนวแกน Y (รายละเอียดของข้อมูล)

ตรวจสอบค่าใน column

In [8]:
import numpy as np

In [9]:
set(data_covid['province_of_onset'])

{nan,
 'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'คลองใหญ่',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชากบก',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บางบุตร',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พม่า',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'มาบตาพุด',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุุทรสงคราม',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'หน้าพระธาตุ',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน'}

In [10]:
BKK = data_covid[data_covid['province_of_onset']=='กรุงเทพมหานคร']
BKK

         No.  ...                                           risk
0          1  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
5          6  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                            ...
12616  12617  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12617  12618  ...   ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ
12618  12619  ...   ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ
12619  12620  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12647  12648  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว

[2789 rows x 10 columns]

In [11]:
KKC = data_covid[data_covid['province_of_onset']=='ขอนแก่น']
KKC

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[14 rows x 10 columns]

ต่อคารางให้เป็นข้อมูล 2 จังหวัด

In [12]:
dataBKKKKC = pd.concat([BKK,KKC])
dataBKKKKC

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
5          6  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
9334    9335  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                         อยู่ระหว่างการสอบสวน
11697  11698  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[2803 rows x 10 columns]

ต่อแกน x

In [13]:
personal_data = data_covid[['No.','sex','age','nationality']]
personal_data

         No.   sex   age nationality
0          1  หญิง  61.0       China
1          2  หญิง  74.0       China
2          3  หญิง  73.0    Thailand
3          4   ชาย  68.0       China
4          5  หญิง  66.0       China
...      ...   ...   ...         ...
12648  12649  หญิง  44.0    Thailand
12649  12650  หญิง  52.0    Thailand
12650  12651  หญิง  23.0    Thailand
12651  12652  หญิง  29.0    Thailand
12652  12653  หญิง  22.0       Burma

[12653 rows x 4 columns]

In [14]:
covid = data_covid[['No.','announce_date','province_of_isolation','province_of_onset','risk']].sample(frac=1)
covid

         No.  ...                                               risk
9177    9178  ...                                  Cluster สมุทรสาคร
4971    4972  ...                                  Cluster สมุทรสาคร
8113    8114  ...                                  Cluster สมุทรสาคร
9223    9224  ...                                  Cluster สมุทรสาคร
11804  11805  ...                                  Cluster สมุทรสาคร
...      ...  ...                                                ...
4297    4298  ...       ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ
6467    6468  ...  อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...
12602  12603  ...                                   State Quarantine
5168    5169  ...                                  Cluster สมุทรสาคร
1487    1488  ...  อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...

[12653 rows x 5 columns]

เอาตารางมาต่อกัน

In [15]:
personalcovid = personal_data.merge(covid)
personalcovid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12648  12649  ...                             State Quarantine
12649  12650  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650  12651  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651  12652  ...                                Cluster ระยอง
12652  12653  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12653 rows x 8 columns]

In [16]:
covidpersonal = covid.merge(personal_data)
covidpersonal

         No. announce_date province_of_isolation  ...   sex   age nationality
0       9178      1/6/2021             สมุทรสาคร  ...  หญิง   NaN    Thailand
1       4972    12/21/2020             สมุทรสาคร  ...   NaN   NaN       Burma
2       8114      1/4/2021             สมุทรสาคร  ...  หญิง   NaN       Burma
3       9224      1/6/2021             สมุทรสาคร  ...  หญิง  39.0       Burma
4      11805     1/17/2021             สมุทรสาคร  ...   NaN   NaN         NaN
...      ...           ...                   ...  ...   ...   ...         ...
12648   4298    12/19/2020           สมุทรปราการ  ...  หญิง  48.0    Thailand
12649   6468    12/30/2020               นนทบุรี  ...  หญิง  36.0    Thailand
12650  12603     1/20/2021         กรุงเทพมหานคร  ...   ชาย  60.0    Thailand
12651   5169    12/21/2020             สมุทรสาคร  ...   NaN   NaN       Burma
12652   1488     3/30/2020                ภูเก็ต  ...  หญิง  30.0    Thailand

[12653 rows x 8 columns]

save table

In [17]:
personalcovid.to_csv(os.path.join(path,'my_personal_data.csv'))  ## save ลง GG Drive

In [18]:
personalcovid.to_csv('my_personal_data.csv')  ## save ลง colab

group by

In [19]:
data_covid.groupby('nationality').count()

                No.  announce_date  ...  district_of_onset  risk
nationality                         ...
Afghanistan       1              1  ...                  1     1
Albania           3              3  ...                  2     3
American          1              1  ...                  1     1
American          1              1  ...                  1     1
American Samoa    1              1  ...                  1     1
...             ...            ...  ...                ...   ...
deutsch           1              1  ...                  1     1
thailand          2              2  ...                  2     2
ต่างด้าว         21             21  ...                 21    21
ไทยใหญ่           1              1  ...                  1     1
ไทใหญ่            1              1  ...                  1     1

[100 rows x 9 columns]

In [20]:
data_covid.groupby('nationality')['age'].min(' ')   ## ศึกษา min(' ')

nationality
Afghanistan       31.0
Albania           33.0
American          39.0
American          46.0
American Samoa    21.0
                  ...
deutsch           55.0
thailand          50.0
ต่างด้าว          13.0
ไทยใหญ่           30.0
ไทใหญ่            33.0
Name: age, Length: 100, dtype: float64

#Create Pandas Table

##Dictionary(Row oriented)

In [23]:
import pandas as pd

In [21]:
data_list = [   {'account':'Jones LLC','Jan':150,'Feb':200,'Mar':140},
                    {'account':'Alpha Co','Jan':200,'Feb':210,'Mar':215},
                    {'account':'Blue Inc','Jan':50,'Feb':90,'Mar':95},
]

In [22]:
data_list

[{'Feb': 200, 'Jan': 150, 'Mar': 140, 'account': 'Jones LLC'},
 {'Feb': 210, 'Jan': 200, 'Mar': 215, 'account': 'Alpha Co'},
 {'Feb': 90, 'Jan': 50, 'Mar': 95, 'account': 'Blue Inc'}]

In [25]:
df1 = pd.DataFrame(data_list)
df1

     account  Jan  Feb  Mar
0  Jones LLC  150  200  140
1   Alpha Co  200  210  215
2   Blue Inc   50   90   95

##List(Row oriented)

In [27]:
data =  [['Jones LLC', 150 , 200 ,140],
            ['Alpha Co', 200 ,210 ,215],
            ['Blue Inc', 50 ,90 ,95]]
header = ['account','Jan','Feb','Mar']

In [29]:
df2 = pd.DataFrame.from_records(data,columns=header)
df2

     account  Jan  Feb  Mar
0  Jones LLC  150  200  140
1   Alpha Co  200  210  215
2   Blue Inc   50   90   95

##Dictionary(Column oriented)

In [33]:
data_dict = {'account' : ['John LLC','Alpha Co','Blue Inc'],
                    'Jan':[150,200,140],
                'Feb': [200,210,90],
                'Mar': [140,215,95]
             }

In [35]:
df3=pd.DataFrame.from_dict(data_dict)
df3

    account  Jan  Feb  Mar
0  John LLC  150  200  140
1  Alpha Co  200  210  215
2  Blue Inc  140   90   95

##Item(Column oriented)

In [36]:
data_item = [['account',['John LLC','Alpha Co','Blue Inc']],
                    ['Jan',[150,200,50]],
                    ['Feb',[200,210,90]],
                    ['Mar',[140,215,95]]
]

In [42]:
# pandas version บน colab วันที่ 26 jan 22 ยังมี Bug
# df4 = pd.DataFrame.from_items(data_item)
# df4

สร้างตาราง : https://th.wikipedia.org/wiki/%E0%B8%A0%E0%B8%B9%E0%B8%A1%E0%B8%B4%E0%B8%A0%E0%B8%B2%E0%B8%84%E0%B8%82%E0%B8%AD%E0%B8%87%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B9%80%E0%B8%97%E0%B8%A8%E0%B9%84%E0%B8%97%E0%B8%A2

In [62]:
data_city = [['อำนาจเจริญ, บึงกาฬ, บุรีรัมย์, ชัยภูมิ, กาฬสินธุ์, ขอนแก่น, เลย, มหาสารคาม, มุกดาหาร, นครพนม, นครราชสีมา, หนองบัวลำภู, หนองคาย, ร้อยเอ็ด, สกลนคร, ศรีสะเกษ, สุรินทร์, อุบลราชธานี, อุดรธานี, ยโสธร','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['เชียงใหม่, เชียงราย, ลำปาง, ลำพูน, แม่ฮ่องสอน, น่าน, พะเยา, แพร่, อุตรดิตถ์','เหนือ','เหนือ','เหนือ','เหนือ'],
                ['ตาก','ตะวันตก','เหนือ','เหนือ','เหนือ'],
                ['สุโขทัย, พิษณุโลก, พิจิตร, กำแพงเพชร, เพชรบูรณ์','กลาง','เหนือ','เหนือ','เหนือ'],
                ['นครสวรรค์, อุทัยธานี','กลาง','เหนือ','กลาง','เหนือ'],
                ['อ่างทอง, ชัยนาท, พระนครศรีอยุธยา, กรุงเทพมหานคร, ลพบุรี, นครปฐม, นนทบุรี, ปทุมธานี, สมุทรปราการ, สมุทรสาคร, สมุทรสงคราม, สระบุรี, สิงห์บุรี, สุพรรณบุรี','กลาง','กลาง','กลาง','กลาง'],
                ['นครนายก','กลาง','กลาง','ตะวันออก','กลาง'],
                ['ฉะเชิงเทรา, จันทบุรี, ชลบุรี, ปราจีนบุรี, ระยอง, สระแก้ว, ตราด','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
                ['กาญจนบุรี, ราชบุรี','ตะวันตก','กลาง','กลาง','กลาง'],
                ['เพชรบุรี, ประจวบคีรีขันธ์','ตะวันตก','กลาง','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','กลาง'],
                ['ชุมพร, นครศรีธรรมราช, นราธิวาส, ปัตตานี, พัทลุง, สงขลา, สุราษฎร์ธานี, ยะลา','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
                ['กระบี่, พังงา, ภูเก็ต, ระนอง, สตูล, ตรัง','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้']
             ]


header = ['จังหวัด','6 ภูมิภาค (ภูมิศาสตร์)','4 ภูมิภาค (การเมือง)','6 ภูมิภาค (อุตุนิยมวิทยา)','5 ภูมิภาค (การท่องเที่ยว)']

In [63]:
df_quiz = pd.DataFrame.from_records(data_city,columns=header)   ### สร้าง dataframe
df_quiz

                                              จังหวัด  ... 5 ภูมิภาค (การท่องเที่ยว)
0   อำนาจเจริญ, บึงกาฬ, บุรีรัมย์, ชัยภูมิ, กาฬสิน...  ...        ตะวันออกเฉียงเหนือ
1   เชียงใหม่, เชียงราย, ลำปาง, ลำพูน, แม่ฮ่องสอน,...  ...                     เหนือ
2                                                 ตาก  ...                     เหนือ
3     สุโขทัย, พิษณุโลก, พิจิตร, กำแพงเพชร, เพชรบูรณ์  ...                     เหนือ
4                                นครสวรรค์, อุทัยธานี  ...                     เหนือ
5   อ่างทอง, ชัยนาท, พระนครศรีอยุธยา, กรุงเทพมหานค...  ...                      กลาง
6                                             นครนายก  ...                      กลาง
7   ฉะเชิงเทรา, จันทบุรี, ชลบุรี, ปราจีนบุรี, ระยอ...  ...                  ตะวันออก
8                                  กาญจนบุรี, ราชบุรี  ...                      กลาง
9                           เพชรบุรี, ประจวบคีรีขันธ์  ...                      กลาง
10  ชุมพร, นครศรีธรรมราช, นราธิวาส, ปัตตานี, พัทลุ...  ...                       ใต้
11           กระบี่, พังงา, ภูเก็ต, ระนอง, สตูล, ตรัง  ...                       ใต้

[12 rows x 5 columns]

In [68]:
ex1_quiz = df_quiz[df_quiz['4 ภูมิภาค (การเมือง)']=='เหนือ']  ## เลือก column 4 ภูมิภาค (การเมือง) ที่เป็นภาคเหนือ
ex1_quiz

                                             จังหวัด  ... 5 ภูมิภาค (การท่องเที่ยว)
1  เชียงใหม่, เชียงราย, ลำปาง, ลำพูน, แม่ฮ่องสอน,...  ...                     เหนือ
2                                                ตาก  ...                     เหนือ
3    สุโขทัย, พิษณุโลก, พิจิตร, กำแพงเพชร, เพชรบูรณ์  ...                     เหนือ
4                               นครสวรรค์, อุทัยธานี  ...                     เหนือ

[4 rows x 5 columns]

In [59]:
ex2_quiz =df_quiz.groupby('6 ภูมิภาค (ภูมิศาสตร์)')
ex2_quiz.first()

                                                                  จังหวัด  ... 5 ภูมิภาค (การท่องเที่ยว)
6 ภูมิภาค (ภูมิศาสตร์)                                                     ...
กลาง                      สุโขทัย, พิษณุโลก, พิจิตร, กำแพงเพชร, เพชรบูรณ์  ...                     เหนือ
ตะวันตก                                                               ตาก  ...                     เหนือ
ตะวันออก                ฉะเชิงเทรา, จันทบุรี, ชลบุรี, ปราจีนบุรี, ระยอ...  ...                  ตะวันออก
ตะวันออกเฉียงเหนือ      อำนาจเจริญ, บึงกาฬ, บุรีรัมย์, ชัยภูมิ, กาฬสิน...  ...        ตะวันออกเฉียงเหนือ
เหนือ                   เชียงใหม่, เชียงราย, ลำปาง, ลำพูน, แม่ฮ่องสอน,...  ...                     เหนือ
ใต้                     ชุมพร, นครศรีธรรมราช, นราธิวาส, ปัตตานี, พัทลุ...  ...                       ใต้

[6 rows x 4 columns]